{% extends "base.html" %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
  

    <title>Hello, world!</title>
  </head>
  <body>

    {% block body_block %}
    <div class="container-fluid">
        <h2 style="text-align:center:"><b>BOOK </b></h2>


<table>
    <tr> <th> COVER</th>
        <th> TITLE</th>
        <th> PDF</th>
    </tr>
    {% for i in b %}
    <tr>
        <td><img src="{{i.cover.url}}" width="100px" height="100px"><br>
            <td>{{i.title}}</td>
            <td>{{t.author}}<td>
                <td><a href="{{i.pdf.url}}">Download</a></td>
            </tr>
            {% endfor %}

            {% endblock %}
  


   
  </body>
</html>