
div1{
    background-color: black;

}
H5{
    color: aliceblue;
}
div7{
    background-color: aqua;
}
div8{
    background-color: rgb(108, 217, 217);
}
body{
    background-color: cadetblue;
}
img{
    border-radius: 50px;
}
p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   font-style: italic;
}