{% extends 'base.html' %}

<!-- Page content -->
{% block content %}
<h1 class="container text-info" id="home" ></h1>


<h1>Cook 2 <br>cooking <span class="header-span"></span></h1><hr>
<div class="all-the-foods">
  <div class="clip-path-container">
    <div class="description-holder">

      <h4>Bibimbap</h4>
      <br>
      <p>Bibimbap means "mixed rice." The origin of bibimbap is unknown but has become popular in many countries despite its unknown ancestry.</p>
    </div>
    <div class="food bibimbap"></div>
  </div>

  <div class="clip-path-container">
    <div class="description-holder">
      <h4>Pizza</h4>
      <br>
      <p>Pizza is a yeasted flatbread topped with tomato sauce and cheese. The term was first recorded in 10th century Italy, making it older than everything.</p>
    </div>
    <div class="food pizza"></div>
  </div>
  
  <div class="clip-path-container">
    <div class="description-holder guac-holder">
      <h4>Guacamole</h4>
      <br>
      <p>Guacamole is an avocado-based dip created by the Aztecs in what is now Mexico. Avocados were frequently called alligator pears.</p>
    </div>
    <div class="food guacamole"></div>
  </div>
  
  <div class="clip-path-container">
    <div class="description-holder">
      <h4>Cookie</h4>
      <br>
      <p>Cookies are a baked or cooked food that is small, flat, and sweet. Its American name derives from the Dutch word koekje, meaning little cake.</p>
    </div>
    <div class="food cookie"></div>
  </div>
  
  <div class="clip-path-container">
    <div class="description-holder">
      <h4>Donut</h4>
      <br>
      <p>Donuts have been found at many ancient sites, the earliest origins are generally traced back to the olykoek Dutch settlers of early New York.</p>
    </div>
    <div class="food donut"></div>
  </div>
  
  <div class="clip-path-container">
    <div class="description-holder">
      <h4>Pancake</h4>
      <br>
      <p>Archaeological evidence suggests that pancakes were probably the earliest and most widespread cereal food eaten in prehistoric societies.</p>
    </div>
    <div class="food pancake"></div>
  </div>

</div>
{% endblock content %}